@use "../abstracts";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(5%) sepia(18%) saturate(6514%) hue-rotate(233deg) brightness(101%)
        contrast(91%);

    --body-bg: #f6f6f6;
    --header-bg-color: #eee;
    --top-action-group-btn: #ffffff;
    --top-action-group-shadow: rgba(237, 237, 246, 0.2);
    --top-action-separate: #ededf6;

    @include abstracts.screen(lg) {
        --header-shadow-color: rgba(0, 0, 0, 0.2);
    }

    // header
    --header-act-dropdown-bg: #fff;
    --header-acr-shadow-color: rgba(200, 200, 200, 0.4);

    // Dropdown
    --dropdown-bg-color: #fff;
    --dropdown-showdown-color: rgba(200, 200, 200, 0.4);
    --top-menu-border-color: #d2d1d6;
    --act-dropdown-bottom-border-color: #d2d1d6;

    // sidebar
    --sidebar-bg: #fff;
    --sidebar-shadow: rgba(200, 200, 200, 0.4);

    // category-item
    --category-item-bg: c;
    --category-item-thumb-bg: #fff;
    --category-item-title: #000;

    @include abstracts.screen(md) {
        --category-item-bg: #fff;
    }

    // act dropdown

    --filter-btn-color: #6c6c72;
    --filter-btn-bg: #fff;
    --filter-form-bg: #fff;
    --filter-form-shadow: rgba(200, 200, 200, 0.4);

    --form-tag-bg: #f8f8fb;
    --filter-form-arrow: var(--dropdown-arrow-color);
    --filter-form-footer-bg: var(--dropdown-bg-color);

    // products cart
    --product-cart-bg: #fff;
    --product-cart-shadow: rgba(237, 237, 246, 0.2);

    --like-btn-shadow: rgba(124, 124, 124, 0.2);

    // footer
    --footer-bg-color: var(--header-bg-color);
    --footer-text-color: #9e9da6;

    // auth
    --auth-content-bg: #fff;
    --auth-intro-bg: #fafafd;
    --auth-border-btn-color: #d2d1d6;

    @include abstracts.screen(md) {
        --auth-intro-bg: #fff;
    }

    // form
    --form-placeholder-color: #d2d1d6;
    --form-label-color: #9e9da8;
    --form-select-dialog-shadow: rgba($color: #000000, $alpha: 0.15);
    --form-select-dialog-bg: #fff;
    --form-option-hover: #ebebeb;

    // product
    --product-detail-bg: #fff;
    --product-detail-info-bg: #f6f6f6;
    --product-info-container-bg: #fff;
    --product-deatail-tag-bg: #ededf6;

    @include abstracts.screen(md) {
        --product-detail-bg: #fafafd;
        --product-detail-info-bg: #fff;
    }

    // breadcrumbs
    --breadcrumb-shadow-bg: rgba(237, 237, 246, 0.2);
    --breadcrumbs-bg: #f6f6f6;

    @include abstracts.screen(md) {
        --breadcrumbs-bg: #fff;
    }

    // search bar
    --search-bar-bg: #fff;

    // review cart
    --review-cart-bg: #fafafd;

    @include abstracts.screen(md) {
        --review-cart-bg: #fff;
    }

    // text-content
    --text-content-bg-hr: #ebebeb;

    // cart preview
    --cart-peview-border-color: #ebebeb;

    // checkout
    --checkout-breadcrumb-bg: #fff;
    --checkout-cart-info-bg: #fff;
    --cart-info-shadow: rgba(237, 237, 246, 0.2);
    --checkout-border-color: #d2d1d6;
    --checkout-gift-shadow: rgba(237, 237, 246, 0.2);
    --checkout-payment-item-bg-color: #f6f6f6;

    // dialog
    --modal-content-bg: #fff;
    --modal-content-shadow-color: rgba(237, 237, 246, 0.2);

    // profile
    --profile-sidebar-bg: #fff;
    --profile-sidebar-shadow-bg: rgba(237, 237, 246, 0.2);
    --profile-account-info-bg: #F6F6F6;
    --profile-account-info-icon-bg: #fff;
    --profile-sidebar-link-hover: #ebebeb;

    // separate 
    --separate-bg: #D2D1D6;
}
